
<!-- Loading message -->
<p id="status-message" class="note">Status: <span id="status">Loading NIEM issues from GitHub...</span></p>

<!-- Result counts message -->
<div id="issue-header" style="display: none">
  <div id="status-counts">
    There are <span id="issue-count">##</span>
    <span id="label-filter" style="display: none"> filtered </span>
    issues across <span id="repo-count">##</span> NIEM GitHub repos.
  </div>

  <div id="issue-menu" class="pull-right">
    <div class="form-check issue-menu-item">
      <input class="form-check-input" type="checkbox" id="filter-unassigned" onchange="displayResults()"/>
      <label class="form-check-label" for="filter-unassigned">Unassigned</label>
    </div>

    <div class="form-check issue-menu-item">
      <input class="form-check-input" type="checkbox" id="filter-external" onchange="displayResults()"/>
      <label class="form-check-label" for="filter-external">Community</label>
    </div>

    <div class="issue-menu-item"><span class="spacer"> | </span></div>

    <div class="issue-menu-item">
      <label for="select-repos">Repos: </label>
      <select id="select-repos" onchange="displayResults()">
        <option value="all">All</option>
        <option value="active" selected>Active</option>
        <option value="inactive">Inactive</option>
      </select>
    </div>

    <div class="issue-menu-item">
      <label for="select-groupBy">Group by: </label>
      <select id="select-groupBy" onchange="displayResults()">
        <option value="repo" selected>Repo</option>
        <option value="issue">Issue</option>
        <option value="assignee">Assignee</option>
      </select>
    </div>

    <div class="issue-menu-item">
      <label for="select-sort">Sort: </label>
      <select id="select-sort" onchange="displayResults()">
        <option value="newest" selected>Newest</option>
        <option value="oldest">Oldest</option>
      </select>
    </div>
  </div>
</div>


<!-- Placeholder for data -->
<div id="data">
</div>

<style>
  span.copy {
    cursor: grab;
  }
  span.copy:active {
    cursor: grabbing;
  }
  span.spacer {
    padding: 0 3px;
  }
  span.label {
    padding: 2px 6px;
    border: gainsboro solid 1px;
    border-radius: 15px;
  }
  #menu a.active {
    text-decoration: underline;
  }
  #data details {
    padding-bottom: 20px;
  }
  #data div.box {
    margin-top: 4px;
  }
  label {
    font-weight: normal;
  }
  div#issue-header {
    padding-bottom: 25px;
  }
  div#status-counts, div#issue-menu {
    display: inline;
  }
  div.issue-menu-item {
    display: inline;
    padding-left: 8px;
  }
</style>

<script src="{{ '/assets/js/github-issues.js' | relative_url }}"></script>
