
<!-- Loading message -->
<p id="status-message" class="note">Status: <span id="status">Loading NIEM issues from GitHub...</span></p>

<!-- Result counts message -->
<p id="status-counts" style="padding-bottom: 10px; display: none">
  <span>There are <span id="issue-count">##</span> issues across <span id="repo-count">##</span> NIEM GitHub repos.</span>

  <!-- Menu options -->
  <span id="menu" class="pull-right">

    <!-- Filter options -->
    <span id="menu-repos">
      <strong>Repos</strong> [
      <a id="reposAll" onclick="filterAllRepos()" class="active">All</a>
      <span class="spacer"> | </span>
      <a id="reposActive" onclick="filterActiveRepos()">Active</a>
      <span class="spacer"> | </span>
      <a id="reposInactive" onclick="filterInactiveRepos()">Inactive</a>
      ]
    </span>

    <!-- Display options -->
    <span id="menu-display" style="padding-left: 10px;">
      <strong>Display by</strong> [
      <a id="displayRepos" onclick="displayRepos()" class="active">Repo</a>
      <span class="spacer"> | </span>
      <a id="displayIssues" onclick="displayIssues()">Issue</a>
      <span class="spacer"> | </span>
      <a id="displayAssignees" onclick="displayAssignees()">Assignee</a>
      ]
    </span>

    <!-- Sort options -->
    <span id="menu-sort" style="padding-left: 10px;">
      <strong>Sort</strong> [
      <a id="sortNewest" onclick="sortNewest()" class="active">Newest</a>
      <span class="spacer"> | </span>
      <a id="sortOldest" onclick="sortOldest()">Oldest</a>
      ]
    </span>

  </span>
</p>

<!-- Placeholder for data -->
<div id="data">
</div>

<style>
  span.copy {
    cursor: grab;
  }
  span.copy:active {
    cursor: grabbing;
  }
  span.spacer {
    padding: 0 3px;
  }
  span.label {
    padding: 2px 6px;
    border: gainsboro solid 1px;
    border-radius: 15px;
  }
  #menu a.active {
    text-decoration: underline;
  }
  #data details {
    padding-bottom: 20px;
  }
  #data div.box {
    margin-top: 4px;
  }
</style>

<script src="{{ '/assets/js/github-issues.js' | relative_url }}"></script>
