
{% comment %}
  ***
  Given a "url" and "increment" (1 or -1), outputs a previous or next button.
  ***
{% endcomment %}

{% comment %} Get the next / previous url {% endcomment %}
{% capture adjacentURL %}
  {% include functions/getAdjacentLinkURL.html url=include.url increment=include.increment %}
{% endcapture %}
{% assign adjacentURL = adjacentURL | strip %}

{% comment %} Only include button if link is found {% endcomment %}
{% if adjacentURL.size > 0 %}

  {% comment %} Get the title for the next / previous url {% endcomment %}
  {% capture title %}
    {% include functions/getLinkTitle.html url=adjacentURL %}
  {% endcapture %}
  {% assign title = title | strip %}

  {% comment %} Get the icon and label for the button {% endcomment %}
  {% assign settings = site.data.custom-nav.settings %}

  {% if include.increment == 1 %}
    {% assign label = "Next: " %}
    {% assign class = "next" %}
    {% assign icon = settings.next.icon %}
  {% else %}
    {% assign label = "Previous: " %}
    {% assign class = "previous" %}
    {% assign icon = settings.previous.icon %}
  {% endif %}

    
  <a class="btn btn-primary {{ class }}" href="{{ adjacentURL | relative_url }}">
    {% if include.increment == -1 %}<span class="icon fa {{ icon }} fa-fw"></span>{% endif %}
    <span class="content">{{ title | prepend: label }} </span>
    {% if include.increment == 1 %}<span class="icon fa {{ icon }} fa-fw"></span>{% endif %}
  </a>
  
{% endif %}
