
<form method="get" id="search-google" action="https://www.google.com/search" target="_blank"
  style="padding-top: 10px;">

  <input type="hidden" name="sitesearch" value="https://niem.github.io/" />

  <div class="input-group">
    <span class="input-group-addon">
      <i class="fa fa-search"></i>
    </span>
    <input type="text" name="q" class="form-control" maxlength="255" value="" placeholder="Search via Google"
      autofocus="autofocus" onkeyup="if ( event.keyCode == 27 ) this.value=''"/>
  </div>
  <small class="text-muted">Hit enter to submit the search or escape to clear the field.</small>

</form>
