
{% comment %}
  ***
  Creates a link for the sidebar given a "url".

  Optional parameters:
  - "currentURL" - If "url" matches "currentURL", adds classes "active current" to the link.
  - "title" - Only needed if title is not otherwise defined in its or its parent page.
  - "class" - Additional class(es) to add to "list-group-item" for non-active links
  If link is external, opens in a new file.  
  ***
{% endcomment %}

{% assign title = include.title %}

{% unless title %}
  {% capture title %}
    {% include functions/getLinkTitle.html url=include.url %}
  {% endcapture %}
  {% assign title = title | strip %}
{% endunless %}

{% assign classes = "list-group-item" %}
{% assign icons = site.data.custom-nav.settings.sidebar %}

{% if include.url == include.currentURL %}
  {% assign classes = classes | append: " active" %}
  {% assign icon = icons.current %}

{% elsif include.url contains "http" or include.url contains "www" %}
  {% assign icon = icons.external %}

{% else %}
  {% assign icon = icons[include.class]  %}

{% endif %}


<a href="{{ include.url }}" class=" {{ classes }}">
  <i class="fa {{ icon }} fa-fw"></i>
  <span class="content"> {{ title }}</span>
</a>
