
{% assign thisPage = site.pages | where: "url", page.url | first %}

{% capture parentURL %}
  {% include functions/getParentURL.html url=page.url %}
{% endcapture %}
{% assign parentURL = parentURL | strip %}


{% capture grandparentURL %}
  {% include functions/getParentURL.html url=parentURL %}
{% endcapture %}
{% assign grandparentURL = grandparentURL | strip %}


<div class="section-nav list-group">

  {% if grandparentURL.size > 0 %}
  
    {% comment %} Grandparent and Parent links {% endcomment%}
    {% include page/sidebar-link.html url=grandparentURL class="grandparent" %}
    {% include page/sidebar-link.html url=parentURL class="parent" %}

  {% else %}
    
    {% comment %} Parent link formatted as grandparent / toplevel {% endcomment%}
    {% include page/sidebar-link.html url=parentURL class="grandparent" %}

  {% endif %}


  {% capture hasChildren %}
    {% include functions/getURLHasChildren.html url=thisPage.url %}
  {% endcapture %}
  {% assign hasChildren = hasChildren | strip %}

  {% if thisPage.links == "current" %}

    {% comment %} List Current Page only {% endcomment %}
    {% include page/sidebar-link.html url=page.url class="current" currentURL=page.url %}

  {% elsif hasChildren == "true" %}

    {% comment %} List Current Page and Children {% endcomment %}
    {% include page/sidebar-link.html url=page.url class="current" currentURL=page.url %}


    {% comment %} TODO: Do not hard code the exclusion {% endcomment %}
    {% unless thisPage.url contains "/model/content/codes/" %}
      {% include page/sidebar-list.html url=page.url class="sub" %}
    {% endunless %}

  {% else %}
    
    {% comment %} List Current Page with Siblings {% endcomment %}
    {% unless thisPage.url contains "/model/content/codes/" %}
      {% include page/sidebar-list.html url=parentURL class="sibling" currentURL=page.url%}
    {% endunless %}

  {% endif %}

</div>


<a class="btn btn-primary feedback-btn" href="{{ site.submit_feedback_link }}">
  <span class="icon fa fa-comments fa-sm"></span>
  <span class="content">Submit Feedback/Ideas</span>
</a>
