
{% comment %}
  ***
  Given a "url", outputs the page's links (if available) or subdirectories.

  - "currentURL" - If "url" matches "currentURL", adds classes "active current" to the link.
  - "class" - Additional class(es) to add to non-active links
  ***
{% endcomment %}

{% assign thisPage = site.pages | where: "url", include.url | first %}


{% comment %} Assign children links {% endcomment%}

{% if thisPage.links %}

  {% comment %} Links assigned in front matter{% endcomment %}
  {% assign links = thisPage.links | map: "url" %}

{% else %}
  
  {% comment %} Grab subfolders {% endcomment %}
  {% capture links %}
    {% include functions/getSubfoldersString.html url=include.url %}
  {% endcapture %}
  {% assign links = links | strip | split: "," %}

{% endif %}


{% for link in links %}

  {% comment %} Grab title from links in case of external links {% endcomment %}
  {% assign tmp = thisPage.links | where: "url", link | first %}
  {% assign title = tmp.short %}
  {% unless title %}
    {% assign title = tmp.title %}
  {% endunless %}

  {% include page/sidebar-link.html url=link 
        class=include.class title=title currentURL=include.currentURL external=link.external %}
    
{% endfor %}
