
{% assign links = include.links %}

{% if include.links %}
  <ul style="margin-left: 15px;">
    {% for link in include.links %}
      {% assign linkPage = site.html_pages | where: "url", link.url | first %}
      {% assign title = linkPage.title %}
      {% assign description = linkPage.description %}
      {% assign url = link.url %}

      <li style="padding-left: 15px;">
        <strong>{{ title }}</strong><br/>
        <p>
          {{ description }}<br/>
          <a href="{{ url | relative_url }}">{{ url | relative_url }}</a>
        </p>

        {% if linkPage and linkPage.links %}
          <!-- Recurse on the page's sublinks -->
          {% include page/sitemap-links.html links=linkPage.links %}
        {% endif %}
      </li>

    {% endfor %}
  </ul>
{% endif %}
