[submodule "vendor/Font-Awesome"]
	path = vendor/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "vendor/bootstrap-sass"]
	path = vendor/bootstrap-sass
	url = https://github.com/twbs/bootstrap-sass.git
[submodule "json-guidance-auxiliary"]
	path = json/guidance/aux
	url = https://github.com/webb/niem-json-guidance-auxiliary.git
	branch = master
