
{% assign specIDs = include.specIDs | default: "" | split: ", " %}

<p>The following are the NIEM specifications that can be used with this release:</p>

<div class="box">

  <ul>
    {% for specID in specIDs %}

      {% assign spec = site.data.specs.niem-specs | where: "id", specID | first %}

      {% assign suite = site.data.specs.niem-suites | where: "id", spec.suiteID | first %}

      <li>
        <span><strong><a href="{{spec.specURL}}">{{ spec.specName | default: spec.suiteName }}</a></strong>, </span>
        <span><strong>version {{ spec.specVersion }}</strong></span>
        <span class="text-muted"> [published {{ spec.specYear }}]</span>
        <p style="padding: 5px 0;">{{ spec.suiteDescription }} <a href="{{ suite.tutorialRelativeURL | relative_url }}">Learn more...</a></p>
      </li>

  {% endfor %}

</ul>

</div>
