
{% assign suiteID = include.suiteID %}

{% assign class = site.data.specs.niem-spec-classes | where: "id", suiteID | first %}
{% assign specs = site.data.specs.niem-specs | where: "suiteID", suiteID | sort: "id" | reverse %}

{% comment %}
{% if class.note and class.note != blank %}
  <p><strong>Note: </strong>{{ class.note }}</p>
{% endif %}
{% endcomment %}

{% if class.repo %}
  <p class="text-muted">
    Submit a <a href="{{class.repo}}/issues/new">new issue</a>,
    view <a href="{{class.repo}}/issues">all issues</a>,
    {% if class.issueTracker %} track <a href="{{class.issueTracker}}">issue status</a>, {% endif %}
    or go to the <a href="{{class.repo}}">GitHub repo</a> for this specification.
  </p>
{% endif %}

<div class="box">

<p><strong>Available versions</strong></p>

<ul>
  {% for spec in specs %}

    {% assign status = "" %}
    {% assign changes = "" %}
    {% assign useWith = "" %}

    {% if spec.specStatus == "current" %}
      {% assign status = "<strong>[Current version]</strong>" %}
    {% elsif spec.specStatus == "draft" %}
      {% assign status = "<strong>[Latest draft]</strong>" %}
    {% endif %}

    {% if spec.specChangeHistory %}
      {% assign changes = " See <a href='" | append: spec.specChangeHistory | append: "'>changes</a>." %}
    {% endif %}

    {% if spec.specApplicableReleases %}
      {% assign useWith = "Use with " | append: spec.specApplicableReleases | append: ". " %}
    {% endif %}

    <li>
      <span><strong><a href="{{spec.specURL}}">Version {{ spec.specVersion }}</a></strong>, </span>
      <span>published {{ spec.specYear }}.</span>
      <span class="text-muted">{{ useWith }}</span>
      <span>{{ changes }} {{ status }}</span>
    </li>

  {% endfor %}

</ul>

</div>
