
{% comment %}
  ***
  Creates a table with conformance target information

  Optional parameters
  "suiteID" - ID for the specification suite, e.g., "NDR" or "IEPD"
  "specificationID" - ID for the individual specification, e.g., "NDR-4.0", "MPD-3.0.1"

  Example call:
  {% include specs/targets-table.html  suiteID="NDR" %}
  ***
{% endcomment %}

{% assign allTargets = site.data.specs.niem-targets %}

{% if include.suiteID %}
  {% assign targets = allTargets | where: "suiteID", include.suiteID | where: "targetStatus", "current" %}
{% elsif include.specificationID %}
  {% assign targets = allTargets | where: "specificationID", include.specificationID %}
{% else %}
  {% assign targets = allTargets %}
{% endif %}

<table id="conformanceTargets">
  <tr>
    <th style="display: none;">ID</th>
    <th style="width: 90px;">Code</th>
    <th style="width: 25%;">Conformance Target</th>
    <th>Description</th>
    <th style="width: 55px;">Spec</th>
  </tr>
  {% for target in targets %}
  <tr class="target suite {{target.suiteID}} spec {{target.specificationSelector}}">
    <td id="target-{{target.targetCode}}-id" style="display: none;">{{target.targetCode}}</td>
    <td>
      {% if target.targetTutorial %}
        <a href="{{ target.targetTutorial | relative_url }}">{{target.targetCode}}</a>
      {% else %}
        {{target.targetCode}}
      {% endif %}
    </td>
    <td id="target-{{target.targetCode}}-name">{{target.targetName}}</td>
    <td id="target-{{target.targetCode}}-description">{{target.targetDescription}}</td>
    <td><a href="{{target.targetURL}}">Link</a></td>
  </tr>
  {% endfor%}
</table>
