<div class="navbar navbar-default footer-nav" role="navigation">
  <div class="container">
    <div class="navbar-footer">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".footer-nav .navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand visible-xs-block">NIEM</div>
      <div class="navbar-brand hidden-xs">National Information Exchange Model (NIEM)</div>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.niem.gov/Pages/default.aspx">NIEM.gov</a></li>
        <li><a href="{{ '/sitemap.html' | relative_url }}">Sitemap</a></li>
        <li><a href="https://www.niem.gov/Pages/contact.aspx">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>

<script src="{{ '/vendor/bootstrap/dist/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>

<script type="text/javascript">
  // Copy the TOC and update the id
  let $toc = $("#markdown-toc").clone().prop("id", "section-headers-ul").addClass("nav list-group-item")[0];

  // Create a nav wrapper for the section headers and append the TOC
  let $headers = $("<div id='page-nav'></div>")[0];

  // Add the section headers to the sidebar
  $("#sidebar-wrapper").append($headers);

  if ($toc) {
    $headers.append($toc);
    $("#page-nav").css("top", "5%");
  }

  $("#btn-top").detach().appendTo($headers);

  // Add scrollspy and adjust offset to account for top menu bar
  $("body").scrollspy({
    target: "#page-nav",
    offset: 150
  });

</script>


<script type="text/javascript">

  // Add bootstrap classes for table formatting
  $("table").addClass("table table-bordered table-hover table-striped");

  // Add a new copy button to each code block
  $(".highlight").each( function() {

    // New copy button and event handler (local copy-to-clipboard function)
    let $copyBtn = $(`<button class="clipboard">Copy</button>`).click( copyToClipboard );

    // New div for copy button (helps for styling)
    let $copyDiv = $(`<div class="clipboard">`);
    $copyDiv.append($copyBtn);

    // Add div before the code block
    $(this).before( $copyDiv );
  });

</script>

