<div class="navbar navbar-default footer-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".footer-nav .navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand visible-xs-block">NIEM</div>
      <div class="navbar-brand hidden-xs">National Information Exchange Model (NIEM)</div>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.niem.gov/Pages/default.aspx">NIEM.gov</a></li>
        <li><a href="https://www.niem.gov/Pages/contact.aspx">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>

<script type="text/javascript">
  $("table").addClass("table");
  $("table").addClass("table-bordered");
  $("table").addClass("table-hover");
  $("table").addClass("table-striped");
</script>
