<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}{% if page.title %} | {% endif %}{{ site.title }}</title>

  {%- if page.description -%}
    {%- assign description = page.description -%}
    {%- if page.url contains "/reference/concepts/" -%}
      {%- assign description = description | append: " " | append: site.concepts-description -%}
    {%- endif -%}
  {%- else -%}
    {% assign description = page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 160 %}
  {%- endif -%}

  <meta name="description" content="{{ description }}">

  <script src="//use.typekit.net/cqz0aba.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" href="{{ '/vendor/Font-Awesome/css/font-awesome.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  {% if page.layout == "specification" %}<link rel="stylesheet" href="{{ '/assets/css/specification.css' | relative_url }}">{% endif %}
  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54199429-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

