    <nav class="navbar navbar-default navbar-fixed-top header-nav" role="navigation">
      <div class="usa">
        <div class="container">
          <img alt="US flag" src="{{ site.baseurl }}/assets/images/us-flag.png" style="margin-right: 5px; height: 13px;" /> An official website of the United States Government
        </div>
      </div>
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-fixed-top .navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/images/logo.png" alt="NIEM" />
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.niem.gov/aboutniem/Pages/niem.aspx">About Us</a></li>
            <li><a href="https://www.niem.gov/technical/Pages/niem.aspx">TechHub</a></li>
            <li><a href="https://www.niem.gov/tools-catalog/Pages/tools.aspx">Tools Catalog</a></li>
            <li><a href="https://www.niem.gov/training/Pages/train.aspx">Training</a></li>
            <li><a href="https://www.niem.gov/Pages/contact.aspx">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
