<!-- ========= BLUE HIGHLIGHT BAR ========= -->

<div class="jumbotron front-jumbotron">
  <div><strong>NIEM 4.0 has been released.</strong> See our <a href="{{ '/niem-releases/'  | relative_url }}">NIEM Releases</a> page for details.</div>
</div>

<!-- ========= PAGE CONTENT ========= -->

<div class="container" style="max-width:1200px">
  <div class="row">

    <!-- ==== TOP PARAGRAPH ==== -->

    <div class="herosection">
      <div class="col-lg-12">
        <div class="herosection-content">
          The National Information Exchange Model (NIEM) is a community-driven, common vocabulary that enables efficient information exchange across diverse public and private organizations. NIEM can save time and money by providing consistent, reusable data terms and definitions and repeatable processes. This GitHub site is for the community to have access to resources that will help them use NIEM and make NIEM easier for others to use.
        </div>
      </div>
      <div style="clear:both"></div>
    </div>

    <!-- ==== ALERT BANNER ==== -->

    <!--<div class="hero-banner">
      <div class="hero-banner-content">
        <div class="col-lg-7 col-md-7 blocks-center-align">
          <div class="hero-banner-title">Access to Training and Tools Catalog</div>
          <div class="hero-banner-text">Learn how to use NIEM and the tools that support defined NIEM capabilities.</div>
        </div>
        <div class="col-lg-5 col-md-5 blocks-right-align">
          <div class="hero-banner-button">
            <a href="https://www.niem.gov/training" class="button">Training</a>
          </div>
          <div class="hero-banner-button">
            <a href="https://www.niem.gov/tools-catalog" class="button">Tools Catalog</a>
          </div>
        </div>
        <div style="clear:both"></div>
      </div>
    </div> -->

    <!-- ==== TILE SECTION ==== -->

    <div class="hero-wrapper">

      <!-- ==== TILE 1 ==== -->

      <div class="col-lg-3 col-md-6">
        <div class="hero-list">
          <div class="hero-item">
            <a href="{{ '/iepd-starter-kit/'  | relative_url }} ">
              <div class="hero-item-container white">
                <img class="img-responsive" src="{{ '/assets/images/front/iepd_starter_kit_icon.png'  | relative_url }}" width="166" height="166" alt="IEPD Starter Kit Icon">
                <h3>IEPD Starter Kit </h3>
                <p>To use NIEM, you normally build an Information Exchange Package Documentation (IEPD).</p>

                <div class="button">Learn more </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- ==== TILE 2 ==== -->

      <div class="col-lg-3 col-md-6">
        <div class="hero-list">
          <div class="hero-item">
            <a href="{{ '/training/'  | relative_url }}">
              <div class="hero-item-container white">
                <img class="img-responsive" src="{{ '/assets/images/front/training-icon.png'  | relative_url }}" width="166" height="166" alt="Training Icon">
                <h3>Training</h3>
                <p>We are starting to evolve the NIEM training curriculum to GitHub pages.</p>

                <div class="button">Learn more</div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- ==== TILE 3 ==== -->

      <div class="col-lg-3 col-md-6">
        <div class="hero-list">
          <div class="hero-item">
            <a href="{{ '/reference/'  | relative_url }}">
              <div class="hero-item-container white">
                <img class="img-responsive" src="{{ '/assets/images/front/reference_icon.png'  | relative_url }}" width="166" height="166" alt="Reference Icon">
                <h3>Reference</h3>
                <p>Documentation and reference materials to help you learn more about NIEM.</p>

                <div class="button">Learn more </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- ==== TILE 4 ==== -->

      <div class="col-lg-3 col-md-6">
        <div class="hero-list">
          <div class="hero-item">
            <a href="{{ '/json/'  | relative_url }}">
              <div class="hero-item-container white">
                <img class="img-responsive" src="{{ '/assets/images/front/json_icon.png'  | relative_url }}" width="166" height="166" alt="JSON Icon">
                <h3>JSON</h3>
                <p>The NIEM NTAC is developing guidelines supporting the use of JSON with NIEM.</p>

                <div class="button">Learn more </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- ==== TILE 5 ==== -->

      <div class="col-lg-3 col-md-6">
        <div class="hero-list">
          <div class="hero-item">
            <a href="{{ '/movement/'  | relative_url }}">
              <div class="hero-item-container white">
                <img class="img-responsive" src="{{ '/assets/images/front/movement_icon.png' | relative_url }}" width="166" height="166" alt="Movement Icon">
                <h3>Movement</h3>
                <p>Introducing Movement—an easier, simpler way to explore and use NIEM.</p>

                <div class="button">Learn more </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- ==== TILE 6 ==== -->

      <div class="col-lg-3 col-md-6">
        <div class="hero-list">
          <div class="hero-item">
            <div class="hero-item-container white">
              <img class="img-responsive" src="{{ '/assets/images/front/community-icon.png'  | relative_url }}" width="166" height="166" alt="Community Activities Icon">
              <h3>Community Activities:</h3>
              <div class="home-light-button first-button"><a href="{{ '/grants/'  | relative_url }}">Grants</a></div>
              <div class="home-light-button"><a href="{{ '/health/'  | relative_url }}">Health</span></a></div>
            </div>
          </div>
        </div>
      </div>

      <!-- ==== TILE 7 ==== -->

      <div class="col-lg-3 col-md-6">
        <div class="hero-list">
          <div class="hero-item">
            <a href="{{ '/tips-and-tricks/'  | relative_url }}">
              <div class="hero-item-container white">
                <img class="img-responsive" src="{{ '/assets/images/front/tips_tricks_icon.png'  | relative_url }}" width="166" height="166" alt="Tips &amp; Tricks Icon">
                <h3>Tips &amp; Tricks</h3>
                <p>Helpful tips &amp; tricks, frequently asked questions, and other information related to the use of NIEM.</p>

                <div class="button">Learn more</div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- ==== TILE 8 ==== -->
      <div class="col-lg-3 col-md-6">
        <div class="hero-list">
          <div class="hero-item">
            <a href="https://github.com/NIEM/NIEM.github.io/issues">
              <div class="hero-item-container green">
                <img class="img-responsive" src="{{ '/assets/images/front/feedback_icon.png'  | relative_url }}" width="166" height="166" alt="Feedback &amp; Ideas Icon">
                <h3>Feedback &amp; Ideas</h3>
                <p>We greatly appreciate feedback, thoughts, ideas, and issue submission.</p>

                <div class="button">Submit feedback</div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>

    <!-- ==== END TILES ==== -->

  </div>
</div>
