<!-- ========= BLUE HIGHLIGHT BAR ========= -->
<!--
<div class="jumbotron front-jumbotron">
  <div><strong>{{ site.data.release.description }} is now available!</strong> See the <a href="{{ '/niem-releases/'  | relative_url }}">NIEM-Releases</a> page for details.</div>
</div>
 -->
<!-- ========= PAGE CONTENT ========= -->

<div class="container" style="max-width:1200px">
  <div class="row">

    <!-- ==== TOP PARAGRAPH - ABOUT NIEM ==== -->

    <div class="herosection">
      <div class="col-lg-12">
        <div class="herosection-content">{{ site.data.home.about-niem }}</div>
      </div>
      <div style="clear:both"></div>
    </div>

    <!-- ==== ALERT BANNER: White banner with message and buttons same width as cards below ==== -->

    <!--<div class="hero-banner">
      <div class="hero-banner-content">
        <div class="col-lg-7 col-md-7 blocks-center-align">
          <div class="hero-banner-title">Access to Training and Tools Catalog</div>
          <div class="hero-banner-text">Learn how to use NIEM and the tools that support defined NIEM capabilities.</div>
        </div>
        <div class="col-lg-5 col-md-5 blocks-right-align">
          <div class="hero-banner-button">
            <a href="{{ '/training/'  | relative_url }}" class="button">Training</a>
          </div>
          <div class="hero-banner-button">
            <a href="https://www.niem.gov/tools-catalog" class="button">Tools Catalog</a>
          </div>
        </div>
        <div style="clear:both"></div>
      </div>
    </div> -->

    <!-- ==== TILE SECTION ==== -->

    <div class="hero-wrapper">

      <!-- ==== Edit card data in _data/home.yml ==== -->

      {% for card in site.data.home.sections %}
        <div class="col-lg-3 col-md-6">
          <div class="hero-list">
            <div class="hero-item">
              <a href="{{ card.url  | relative_url }}">
                <div class="hero-item-container {{ card.class }}">
                  {% assign imgURL = card.img | prepend: "/assets/images/front/" %}
                  <img class="img-responsive" src="{{ imgURL | relative_url }}" width="166" height="166" alt="{{ card.img-alt }}">
                  <h3>{{ card.title }}</h3>
                  <p>{{ card.description }}</p>
                  <div class="button">{{ card.button }}</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

  </div>
</div>
