
{% comment %}
***
Outputs a link with its title, icon and description.

- The link must come with a url property.
- If title, icon, and/or description are not provided, checks the 
  front matter of the corresponding page.  If not there either,
  defaults are provided for icon and title (page name).
- External links are set to open in a new tab.
- Also checks for link.newtab == true
***
{% endcomment %}

{% assign link = include.link %}

{% assign linkPage = site.pages | where: "url", link.url | first %}

{% comment %} 
  Assign the icon, from input parameter, link's page, or default 
{% endcomment %}
{% assign icon = link.icon %}
{% unless icon %}
  {% assign icon = linkPage.icon %}
  {% unless icon %}
    {% if link.url contains "http" %}
      {% assign icon = "fa-share" %}
    {% else %}
      {% assign icon = "fa-cog" %}
    {% endif %}
  {% endunless %}
{% endunless %}

{% comment %} 
  Assign the title, from input parameter, link's page, or default 
{% endcomment %}
{% assign title = link.title %}
{% unless title %}
  {% assign title = linkPage.title %}
  {% unless title %}
    {% capture title %}
      {% include functions/getFolderName.html url=link.url %}
    {% endcapture %}
    {% assign title = title | strip %}
  {% endunless %}
{% endunless %}

{% comment %}
  Assign the description, from input parameter, link's page, or nothing
{% endcomment %}
{% assign description = link.description %}
{% unless description %}
  {% assign description = linkPage.description %}
{% endunless %}
{% if description %}
  {% assign description = description | prepend: "<br>" %}
{% endif %}
    
{% comment %}
  Set link to open in new tab if external to site (url contains http or www)
{% endcomment %}
{% if link.url contains "http" or link.url contains "www" %}
  {% unless link contains "http://127.0" %}
    {% assign target = "target='_blank'" %}
    {% assign url = link.url %}
  {% endunless %}
{% elsif link.newtab == true %}
  {% assign target = "target='_blank'" %}
  {% assign url = link.url | relative_url %}
{% else %}
  {% assign url = link.url | relative_url %}
{% endif %}

<a {{ target }} href="{{ url }}">
  <span class="icon fa-stack fa-2x">
    <i class="fa fa-square fa-stack-2x"></i>
    <i class="fa {{ icon }} fa-stack-1x"></i>
  </span>
  <span class="content">{{ title }}</span>
</a>
{{ description }}
