
{% comment%}
  ***
  Given a list of rule numbers, outputs a table with external links to the NDR.

  - list: Required list of NDR rule numbers and/or sections, grouped by spec version

  Example call: {% include ndr-rule-table.html list=page.ndr %}
  ***
{% endcomment%}

{% for spec in include.list %}

  {% assign open = "" %}

  {% if spec.version == "5.0" %}
    {% assign open = "open" %}
  {% endif %}

  {% assign ndrLink = "https://reference.niem.gov/niem/specification/naming-and-design-rules/" | append: spec.version | append: "/niem-ndr-" | append: spec.version | append: ".html" %}

  {% assign specFolder = spec.version | replace: ".", "_" %}

  <details {{open}} style="padding-bottom: 10px;">

    <summary><strong>NDR {{spec.version}}</strong></summary>

    {% if spec.sections %}
      <ul style="padding-top: 10px;">
        {% for item in spec.sections %}
          {% assign section = site.data.ndr[{{specFolder}}].ndr-sections | where: "number", item.number | first %}
          {% assign link = ndrLink | append: "#section_" | append: section.number %}
          <li><a href="{{ link }}">NDR Section {{ section.number }}</a> - {{ section.title }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if spec.rules %}
      <table>
        <thead>
          <th>Rule</th>
          <th>Applicability</th>
          <th>Title</th>
        </thead>

        {% for item in spec.rules %}
          {% assign rule = site.data.ndr[{{specFolder}}].ndr-rules | where: "number", item.number | first %}
          {% assign link = ndrLink | append: "#rule_" | append: rule.number %}

          <tr>
            <td><a href="{{ link }}" target="_blank">NDR {{ rule.number }}</a></td>
            <td>{{ rule.applicability }}</td>
            <td>{{ rule.title }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}

  </details>

{% endfor %}
