
{% comment %}
***
Outputs a section with its title, description and call to action button.

- The section must come with a url property.
- If title and/or description are not provided, checks the
  front matter of the corresponding page.  If not there either,
  defaults are provided for title (page name).
- External links are set to open in a new tab.
***
{% endcomment %}

{% assign link = include.section %}

{% assign linkPage = site.pages | where: "url", link.url | first %}

{% assign title = link.title | default: linkPage.title %}
{% assign description = link.description | default: linkPage.description %}
{% assign url = link.url | relative_url %}
{% assign button_text = link.button | default: "Learn more" %}

<div class="row landing-page-section">
  <div class="section-wrapper">
    <div class="col-lg-8 col-md-8">
      <div class="section-title">
        <a {{ target }} href="{{ url }}">
          <span class="content">{{ title }}</span>
        </a>
      </div>
      <div class="section-description">{{description}}</div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="section-button">
        <a {{ target }} class="btn btn-primary" href="{{ url }}">
          <span class="content">{{ button_text }}</span>
        </a>
      </div>
    </div>
  </div>
</div>



