$dark-slate-blue: #00435d;
$slate-blue:      #005170;
$teal:            #3c8185;
$turquoise:       #58adb2;
$pale-turquoise:  #65c4cb;
$white-smoke:     #f5f5f5;
$gainsboro:       #dadfdf;
$dark-gray:       #a9acac;
$charcoal:        #444141;
