.front-jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  background: url(../images/front/jumbotron-bg.jpg) no-repeat scroll 50% 50% / cover $teal;
  text-align: center;

  .sharing-spot {
    // Offset the spot halo
    max-width: 100%;
    @media screen and (min-width: 720px) {
      max-width: 60%;
    }
    @media screen and (min-width: 960px) {
      max-width: 50%;
    }
  }
}
.feedback-panel {
	margin-left: 15px;
	margin-right: 15px;
	.btn-primary {
    color: #FFF;
    background-color: #005170;
    border-color: #014954;
	}
	a {
		width: 100%;
	}
}
.lead {
  font-size: 18px;
  p {
    margin-top: 10px;
  }
}
