.front-jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  background: url(../images/front/jumbotron-bg.jpg) no-repeat scroll 50% 50% / cover $teal;
  text-align: center;
  margin-bottom: 10px;
  .sharing-spot {
    // Offset the spot halo
    max-width: 100%;
    @media screen and (min-width: 720px) {
      max-width: 60%;
    }
    @media screen and (min-width: 960px) {
      max-width: 50%;
    }
  }
}
.feedback-panel {
	margin-left: 15px;
	margin-right: 15px;
	.btn-primary {
    color: #FFF;
    background-color: #005170;
    border-color: #014954;
	}
	a {
		width: 100%;
	}
}
.lead {
  font-size: 17px;
  line-height: 1.5em;
  p {
    margin-top: 10px;
  }
}
.announcement-block {
  .col-lg-12 {
    
  }
}
.announcement-content {
  font-size: 20px;
  padding: 19px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);  
  text-align: center;  
}