---
layout: 'default'
---
{% assign section_has_descendants = false %}
{% assign urls = page.url | split: '/' %}
{% for html_page in site.html_pages %}
  {% assign working_url = html_page.url | split: '/' %}
  {% if urls[1] == working_url[1] and working_url.size > 3 %}
    {% assign section_has_descendants = true %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="container">
  <div class="row">
    {% if section_has_descendants %}
      <div class="col-md-9 col-md-push-3">
        {% include page/content.html %}
      </div>

      <div class="col-md-3 col-md-pull-9">
        {% include page/sidebar.html %}
      </div>
    {% else %}
      <div class="col-md-12">
        {% include page/content.html %}
      </div>
    {% endif %}
  </div>
</div>
