---
layout: 'default'
---
{% comment %}
  Only output the sidebar if the current section has immediate children.
{% endcomment %}
{% assign section_has_children = false %}
{% assign page_url_paths = page.url | split: '/' %}
{% for html_page in site.html_pages %}
  {% assign working_url = html_page.url | split: '/' %}
  {% if page_url_paths[1] == working_url[1] and working_url.size > 3 %}
    {% assign section_has_children = true %}
    {% break %}
  {% endif %}
{% endfor %}
{% comment %}
  Since we have the feed back button on the left now, we need to show the side navigation on every page. Until we take out the feed back button.
{% endcomment %}
{% assign section_has_children = true %}
<div class="container">
  <div class="row">
      <div class="col-md-12 col-lg-12">
        {% include page/breadcrumb.html %}
      </div>
      <div class="col-md-9 col-md-push-3">
        {% include page/content.html %}
      </div>
      <div id="sidebar-wrapper" class="col-md-3 col-md-pull-9">
        <div id="sidebar">
          {% include page/sidebar.html %}
        </div>

        <button id="btn_scrollTop" class="btn btn-outline-secondary" onclick="$(document).scrollTop(0)" style="display: none;">
          <span class="icon fa fa-angle-up"/>
        </button>
      </div>
  </div>
</div>


<style>
  #btn_scrollTop {
    position: fixed;
    top: 50%;
    margin-left: 75px;
  }
</style>
