
{% comment %}
  ***
  Given input parameter "url", returns the url of the parent folder.
  This will be the index page for that directory.
  ***
{% endcomment %}

{% assign index = 1 %}


{% comment %}
  Iterate over url chars to find the second-to-last position of "/"
{% endcomment %}

{% if include.url == "/" %}

  {% assign par_url = nil %}

{% else %}

  {% assign len = include.url.size | minus: 2 %}
  {% assign chars = include.url | truncate: len, "" | split: "" %}

  {% for c in chars %}
    {% if c == "/" %}
      {% assign index = forloop.index0 | plus: 1 %}
    {% endif %}
  {% endfor %}

  {% assign par_url = include.url | slice: 0, index %}

{% endif %}


{{ par_url }}
