
{% comment %}
  ***
  Given a "url", looks for front matter links or subdirectories.
  ***
{% endcomment %}

{% assign hasChildren = true %}

{% assign thisPage = site.pages | where: "url", include.url | first %}

{% unless thisPage.links %}
  {% capture subfolders %}
    {% include functions/getSubfoldersString.html url=include.url %}
  {% endcapture %}
  {% assign subfolders = subfolders | strip %}

  {% unless subfolders.size > 0 %}
    {% assign hasChildren = false %}  
  {% endunless %}
{% endunless %}

{{ hasChildren }}
