html,
body {
  height: 100%;
}

#page-wrap {
  padding-top: $navbar-height + $usa-height;
  padding-bottom: $navbar-height;
  min-height: 100%;
  position: relative;
}

code {
	font-family: "Courier New";
  color: #000;
  background-color: #fff;
  border-radius: 0px;
}

blockquote {
  font-size: 15px;
}