html,
body {
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

#page-wrap {
  padding-top: $navbar-height + $usa-height;
  padding-bottom: $navbar-height;
  min-height: 100%;
  position: relative;
}

// Styling for sidebar navigation scrollspy
#page-nav {

  #markdown-toc {
    padding: 5px;
  }

  a {
    color: #555;
  }

  ul {
    // list-style: none;
  }

  .active > a {
    font-weight: bold;
  }

  li a {
    padding: 5px;
  }

} 

code {
  font-family: "Courier New";
  font-size: 15px;
  color: #000;
  // background-color: #fff;
  background-color: inherit;
  border-radius: 1px;
}

.tips, .example, .note, .box {
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 0 20px;
}

ul.tips, ul.example, ul.note, ul.box {
  li {
    margin-left: 30px;
  }
}

ul.tips::before {
  content: "Tips";
}

ul.note::before, blockquote.note::before {
  content: "Note";
}

blockquote {
  font-size: 15px;
  border: 0;
  border-left: solid 5px rgba($turquoise, 0.5);
  background: rgba($pale-turquoise, 0.15);
}

.box {
  font-size: 15px;
  // border-left: solid 5px $turquoise;
  border: solid 1px rgba($turquoise, 0.3);
  background: rgba($pale-turquoise, 0.15);
  border-radius: 3px;
}
.tips, .example, .note {
  @extend .box;
}

.note {
  // border-color: blanchedalmond;
  // background: cornsilk;
  
  // border-color: peachpuff;
  // background: papayawhip;

  border-color: blanchedalmond;
  background: rgba(papayawhip, 0.5); // Half of papayawhip
}

blockquote::before, ul::before {
  font-weight: bolder;
}

blockquote.valid {
  border: 0;
  border-left: solid 5px seagreen;
  background: rgba(143, 230, 172, 0.2);
}

blockquote.valid::before {
  content: "Valid example";
}

blockquote.invalid {
  border: 0;
  border-left: solid 5px crimson;
  background: #ffcccc59; 
}

blockquote.invalid::before {
  content: "Invalid example";
}

.example::before {
  content: "Example";
}

.table-auto {
  width: auto !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba($pale-turquoise, 0.4);
}

ul {
  // Resetting default from 40px
  -webkit-padding-start: 15px;
}

img {
  max-width: 100%;
}

// Fixes link targets disappearing under the navbar
:target:before {
  content: "";
  display: block;
  height: 80px;      // fixed header height
  margin: -80px 0 0; // negative fixed header height
}

div[class^="col"] img {
  margin: 20px auto;
  display: block;
}

table {
  margin: 20px auto;
}

div.btn-copy {
  margin-top: -10px;
}

div.clipboard {
  display: block;
  position: relative;
  float: right;
}

button.clipboard {
  content: "Copy";
  position: absolute;
  top: 0.4rem;
  right: 0.5rem;
  z-index: 10;
  display: block;
  padding: 0.15rem 0.25rem;
  color: $dark-gray;
  background-color: transparent;
  border: 1px solid $gainsboro;
  border-radius: 0.25rem;
}

button.clipboard:hover {
  background-color: rgba($pale-turquoise, 0.75);
  color: white;
}

button.clipboard:active {
  background-color: $pale-turquoise;
  color: white;
  font-weight: bold;
  outline: none;
}

#sidebar-wrapper {
  position: relative;
  margin-top: 15px;
  width: min-content;
}

// Placing a fixed div (#sidebar) inside of a relative container
// (#sidebar-wrapper) allows it to stay fixed while remaining
// inside the parent container
#sidebar {
  position: fixed;
  width: inherit;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.movement-video-wrapper{ 
  margin: 10px 0;
}
.access-tool-here{
  @media screen and (min-width: 720px) {
    float: right;
  }
  margin-bottom: 10px;    
}
.introducing-movement {
  @media screen and (min-width: 720px) {
    display: inline-block;
    margin-top: 6px;
  }
  margin-bottom: 16px;     
}