dl {
  dt,
  dd {
    margin-left: 40px;
    padding-left: .5em;
  }

  dt {
    margin-top: 1em;
    display: list-item;
    list-style-type: disc;
  }
}

ul.list-fa-icon {
  @extend .list-unstyled;

  li:not(:first-child) {
    margin-top: 1em;
  }

  .icon {
    margin-right: .25em;
    display: inline-block;

    // Icon background
    .fa-stack-2x {
      color: $pale-turquoise;
    }

    // Icon
    .fa-stack-1x {
      color: $slate-blue;
    }
  }

  .content {
    font-size: $font-size-h4;
    font-weight: $headings-font-weight;
  }
}

table {
  ul {
    padding: 10px;

    li {
      margin-left: 10px;
    }
    
    lh {
      text-align: left;
      font-weight: bold;
      padding-left: 0;
    }
  }
}
