
// Styles for the navigation sidebar and previous / next navigation buttons

#sidebar-wrapper {
  position: relative;
  margin-top: 15px;
  // width: auto;
  // width: min-content;
}

// Placing a fixed div (#sidebar) inside of a relative container
// (#sidebar-wrapper) allows it to stay fixed while remaining
// inside the parent container
#sidebar {
  position: fixed;
  width: inherit;
  // max-width: 200px;
  font-size: smaller;
}

// Previous and next navigation buttons

div.prev-next {
  padding: 20px 0;
  display: block;
}

a.previous {
  float: left;
}

a.next {
  float: right;
}

a.list-group-item.grandparent::before {
  font-family: FontAwesome;
  content: "\f0c9 ";
}

a.list-group-item.parent::before {
  font-family: FontAwesome;
  content: "\f0d7 ";
}

a.list-group-item.current::before {
  font-family: FontAwesome;
  content: "\f0da ";
}

a.list-group-item.sibling::before {
  font-family: FontAwesome;
  content: "\f0d8 ";
}

a.list-group-item.sub::before {
  font-family: FontAwesome;
  // content: "\f152 ";
  content: "\f18e ";
}

a.list-group-item.external::before {
  font-family: FontAwesome;
  content: "\f045 ";
}

.sidebar-sibling, .sidebar-current, .sidebar-sub {
  padding-left: 25px;
}

#page-nav ul#markdown-toc li {
  padding-left: 15px;

  ul li {
    padding-left: 0;
    a {
      padding-left: 0;
    }
  }
}

// Styling for sidebar navigation scrollspy
#page-nav {

  position: sticky;
  position: -webkit-sticky;
  top: 40%;
  font-size: smaller;

    a {
      color: #555;
    }

    ul {
      // list-style: none;

      ul ul {
        padding-inline-start: 20px;
      }

    }

    .active > a {
      font-weight: bold;
    }

}

#section-headers-ul {
  padding: 10px;
}

#sidebar, #page-nav {
  max-width: 260px;
}

// New Side bar design Apr 2017
#sidebar {
  // max-width: 223px;
  width: auto;
  position: relative;
}

.section-nav{
  &.list-group{
    ul {
      list-style: none;
      padding: 0 0px;
      margin: 0;
      li {
        a{
          display: block;
          padding: 12px 5px 12px 15px;
          color: #fff;
          font-weight: 700;
          &:hover{
            text-decoration: none;
          }
        }
        &.active {
          &:hover {
            background: #1486b8;
          }
          a {
            color: #fff;
            &:after {
              content: '\f105';
              font-family: FontAwesome;
              font-weight: normal;
              font-style: normal;
              margin:0px 0px 0px 10px;
              text-decoration:none;
              right: 3px;
              padding-right: 7px;
              position: absolute;
            }
          }
          li {
            a {
              &:after {
                content: '';
              }
              color: #01445D;
            }
          }
        }
        background: #01445D;
        &:hover {
          background: #016b92;
        }
        border-top: 1px solid #fff;
        &.expand {
          padding-bottom: 0;
        }
        ul {
          li {
            &.active {
              background: #1486b8;
            }
            background: #D7D7D7;
            &:hover {
              background: #bfbebe;
            }
            a{
              color: #01445D;
              padding-left: 25px;
              font-weight: 600;
            }

            &.lastChildren {
              li {
                a {
                  font-weight: 600;
                  color: #01445D;
                }
              }
            }
            ul {
              li {
                background: #e7e7e7;
                &:hover {
                  background: #D7D7D7;
                }
                a{
                  padding-left: 35px;
                  font-weight: 400;
                }
                &.lastChildren {
                  li {
                    a {
                      font-weight: 400;
                      color: #1486B8;
                    }
                  }
                }
                ul {
                  li {
                    background: #f7f7f7;
                    &:hover {
                      background: #e7e7e7;
                    }
                    a {
                      padding-left: 45px;
                    }
                    ul {
                      li {
                        background: #fff;
                        a {
                          padding-left: 55px;
                        }
                        ul {
                          li {
                            a {
                              padding-left: 65px;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#btn-top {
  margin: 20px auto;
  display: block;
  font-weight: 400;

  span.icon {
    margin-right: 10px;
  }
}
